@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
	font-family: Montserrat;
	margin: 0;
}

body,
html {
	margin: 0;
}

.hero {
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero-img {
	margin: 0;
	background-image: url("../img/capa-madmax2.jpg");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
}

.hero:after {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75%);
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.hero-menu {
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.container {
	margin: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 960px;
}

.hero-menu .container {
	height: 46px;
	align-items: center;
}

.hero-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.hero-list-item {
	padding: 0px 24px;
}

.hero-list a {
	text-decoration: none;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	transition-duration: 0.2s;
}

.hero-list a:hover {
	color: #e5bc00;
}

.hero-user {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
}

.hero-user img {
	height: 46px;
	border-radius: 300px;
	box-shadow: 3px 2px 2px #000;
}

.hero-user p {
	margin: 0 10px;
}

.hero-content {
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.hero-content .container {
	flex-direction: column;
	display: block;
}

.hero-title {
	font-size: 72px;
	color: #fff;
	text-transform: uppercase;
}

.hero-genres {
	list-style: none;
	display: flex;
	margin: 24px 0px 32px;
	padding: 0;
	font-weight: light;
	justify-content: flex-start;
	align-items: flex-start;
}

.hero-genre-item {
	padding: 0px 24px 0px 0px;
}

.hero-genres a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-weight: lighter;
	text-transform: uppercase;
	transition-duration: 0.2s;
}

.hero-genres a:hover {
	color: #e5bc00;
}

.hero-button {
	display: inline-block;
	background-color: #e5bc00;
	padding: 16px 48px;
	border-radius: 32px;
	color: #000;
	text-decoration: none;
	font-size: 14px;
	transition-duration: 0.2s;
}

.hero-button:hover {
	background-color: #c8a100;
}

.hero-button i {
	font-size: 18px;
}

.hero-info {
	font-size: 14px;
	color: #fff;
	padding: 24px 0px;
}

.hero-info p {
	padding: 8px 0px;
}

.hero-info p+p {
	color: #e5bc00;
}

.menu {
	background-color: #fff;
	display: flex;
	justify-content: center;
}

.menu-list {
	display: flex;
	list-style: none;
}

.menu-list-item {
	padding: 24px 24px;
}

.menu-list a {
	text-decoration: none;
	color: #e5bc00;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	transition-duration: 0.5s;
	border-bottom: 3px solid #fff;
}

.menu-list a:hover {
	border-color: #e5bc00;
}

@media screen and (max-width:720px) {
	.container {
		flex-direction: column;
	}

	.hero-list-item {
		padding: 24px 10px;
	}

	.hero-user p {
		display: none;
	}

	.hero-title {
		font-size: 42px;
	}

	.menu-list {
		flex-direction: column;
		text-align: center;
	}
}