@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
	font-family: Montserrat;
}

body,
html {
	margin: 0;
}

.hero {
	width: 100%;
}

.hero-img {
	margin: 0;
	background-image: url("../img/capa-madmax2.jpg");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
}

.hero:after {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75%);
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.hero-menu {
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.container {
	margin: 0;
	height: 46px;
	display: flex;
	justify-content: space-between;
}

.hero-menu .container {
	width: 100%;
	max-width: 960px;
	align-items: center;
}

.hero-content .container {
	flex-direction: column;
}

.hero-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.hero-list-item {
	padding: 0px 24px;
}

.hero-list a {
	text-decoration: none;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	transition-duration: 0.2s;
}

.hero-list a:hover {
	color: #e5bc00;
}

.hero-user {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
}

.hero-user img {
	height: 46px;
	border-radius: 300px;
	box-shadow: 3px 2px 2px #000;
}

.hero-user p {
	margin: 0 10px;
}