@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
	font-family: Montserrat;
	margin: 0;
}

body,
html {
	margin: 0;
}

.hero {
	width: 100%;
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero-img {
	margin: 0;
	background-image: url("../img/capa-madmax2.jpg");
	height: 100%;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
}

.hero:after {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 212, 255, 0) 75%);
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
}

.hero-menu {
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.container {
	margin: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	max-width: 960px;
}

.hero-menu .container {
	height: 46px;
	align-items: center;
}

.hero-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
}

.hero-list-item {
	padding: 0px 24px;
}

.hero-list a {
	text-decoration: none;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	transition-duration: 0.2s;
}

.hero-list a:hover {
	color: #e5bc00;
}

.hero-user {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #fff;
	font-size: 0.8em;
	font-weight: bold;
}

.hero-user img {
	height: 46px;
	border-radius: 300px;
	box-shadow: 3px 2px 2px #000;
}

.hero-user p {
	margin: 0 10px;
}

.hero-content {
	padding: 20px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.hero-content .container {
	flex-direction: column;
	display: block;
}

.hero-title {
	font-size: 72px;
	color: #fff;
	text-transform: uppercase;
}

.hero-genres {
	list-style: none;
	display: flex;
	margin: 24px 0px 32px;
	padding: 0;
	font-weight: light;
	justify-content: flex-start;
	align-items: flex-start;
}

.hero-genre-item {
	padding: 0px 24px 0px 0px;
}

.hero-genres a {
	text-decoration: none;
	color: #fff;
	font-size: 12px;
	font-weight: lighter;
	text-transform: uppercase;
	transition-duration: 0.2s;
}

.hero-genres a:hover {
	color: #e5bc00;
}

.hero-button {
	display: inline-block;
	background-color: #e5bc00;
	padding: 16px 48px;
	border-radius: 32px;
	color: #000;
	text-decoration: none;
	font-size: 14px;
	transition-duration: 0.2s;
}

.hero-button:hover {
	background-color: #c8a100;
}

.hero-button i {
	font-size: 18px;
}

.hero-info {
	font-size: 14px;
	color: #fff;
	padding: 24px 0px;
}

.hero-info p {
	padding: 8px 0px;
}

.hero-info p+p {
	color: #e5bc00;
}

.menu {
	background-color: #fff;
	display: flex;
	justify-content: center;
}

.menu-list {
	display: flex;
	list-style: none;
}

.menu-list-item {
	padding: 24px 24px;
}

.menu-list a {
	text-decoration: none;
	color: #e5bc00;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	transition-duration: 0.5s;
	border-bottom: 3px solid #fff;
}

.menu-list a:hover {
	border-color: #e5bc00;
}

.catalog {
	background-color: #f2f2f2;
	display: flex;
	justify-content: center;
}

.movies-list {
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
	width: 90%;
	max-width: 960px;
	list-style: none;
}

.movies-list-item {
	height: 435px;
	width: 230px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.movie-poster {
	height: 340px;
	width: 100%;
	position: relative;
}

.movie-poster img {
	width: 100%;
}

.movie-poster-info {
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	visibility: hidden;
	transition-duration: 0.2s;
}

.movies-list-item:hover .movie-poster-info {
	opacity: 1;
	visibility: visible;
}

.movie-poster-info h3 {
	color: #e5bc00;
	text-transform: uppercase;
	padding: 8px;
}

.movie-poster-info a {
	text-decoration: none;
}

.movie-poster-link i {
	font-size: 48px;
	padding: 8px;
	transition-duration: 0.1s;
	color: #fff;
}

.movie-poster-link i:hover {
	font-size: 52px;
	padding: 6px;
	color: #e5bc00;
}

.movie-info {
	background-color: #fff;
	width: 100%;
	height: 100%;
	padding: 10px;
	display: flex;
	flex-direction: column;
}

.movie-info h3 {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
}

.movie-info-genter {
	margin: 10px 0px;
}

.movie-info-genre a {
	font-weight: lighter;
	font-size: 12px;
	color: #e5bc00;
	text-decoration: none;
	transition-duration: 0.2s;
}

.movie-info-genre a:hover {
	text-decoration: underline;
}

.movie-info-rating {
	padding-top: 10px;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: bold;
}

.movie-info-rating i {
	cursor: pointer;
	color: #ccc;
	font-size: 22px;
	margin: 3px;
	transition-duration: 0.2s;
}

.movie-info-rating i:hover {
	font-size: 28px;
	color: #e74c3c;
	margin: 0px;
}

footer {
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
}

footer .container {
	display: flex;
	width: 90%;
	max-width: 960px;
	margin: 16px;
}

.social-links {
	margin: auto;
	margin-right: 0;
}

.social-links a {
	color: #ccc;
	text-decoration: none;
	font-size: 24px;
	padding: 0px 16px;
}

.social-twitter {
	transition-duration: 0.2s;
}

.social-twitter:hover {
	transition-duration: 0.2s;
	color: #55acee;
}

.social-facebook {
	transition-duration: 0.2s;
}

.social-facebook:hover {
	color: #3b5998;
}

.social-instagram {
	transition-duration: 0.2s;
}

.social-instagram:hover {
	color: #e95950;
}

@media screen and (max-width:720px) {
	.container {
		flex-direction: column;
	}

	.hero-list-item {
		padding: 24px 10px;
	}

	.hero-user p {
		display: none;
	}

	.hero-title {
		font-size: 42px;
	}

	.menu-list {
		flex-direction: column;
		text-align: center;
	}

	.movies-list {
		flex-direction: column;
		align-items: center;
	}

	footer .container {
		flex-direction: column-reverse;
		justify-content: center;
		align-items: center;
	}

	.social-links {
		margin: 16px;
	}
}